@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');



*{
  margin: 0;
  box-sizing: border-box;
  &::selection{
    background: #000;
    color: #fff;
  }
}


$stopwatch-size: 50vh;
$border: $stopwatch-size * .017;

$stopwatch-size-mobile: 70vw;
$border-mobile: $stopwatch-size-mobile * .017;



html{
  height: fill-available;
}

body{
  opacity: .7;
  font-family: "Roboto Mono";
  height: fill-available;
  display: flex;
  justify-content: center;
  align-items: center;
}



.stopwatch{
  font-weight: 600;
  width: $stopwatch-size;
  height: $stopwatch-size;
  border: $border solid #000;
  border-radius: 50%;
  padding: 2.5%;

  .stopwatch-cont{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    border: $border solid #000;
    border-radius: 50%;
  }

  .laps{
    height: 26%;
    padding: 0 4.76%;
    margin: 2.55% 0;
    line-height: 160%;
    letter-spacing: $stopwatch-size * .00242856;
    font-size: $stopwatch-size * .04857141;
    overflow-y: scroll;
  }

  .time-cont{
    width: 75%;
    background: #000;
    padding: 2.38%;
    margin: 0 0 4.93%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-radius: $stopwatch-size * .0242857;
    border: $border solid #fff;
    outline: $border solid #000;
    .time{
      color: #fff;
      font-size: $stopwatch-size * .12142856;
      line-height: $stopwatch-size * .13114284;
      text-align: right;
    }
  }

  nav{
    display: flex;
    justify-content: center;
    align-items: center;
    // input
    input{ display: none; }
    input:checked{
      & + label{
        .play{ display: none; }
        .pause{ display: block; }
      }
    }
    // play button
    label{
      margin: 0 -1 * $border;
      .play, .pause{ &::after{ background-size: 35%; } }
      .play::after{ background-image: url('./images/play.svg'); }
      .pause{
        display: none;
        &::after{ background-image: url('./images/pause.svg'); }
      }
    }
    // side nav buttons
    #resetBtn, #lapBtn{
      &::after{ background-size: 47%; }
    }
    #resetBtn{
      border-top-left-radius: 32%;
      border-bottom-left-radius: 32%;
    }
    #lapBtn{
      border-top-right-radius: 32%;
      border-bottom-right-radius: 32%;
    }
    #resetBtn::after{ background-image: url('./images/reset.svg'); }
    #lapBtn::after{ background-image: url('./images/lap.svg'); }
    // all buttons
    label, #resetBtn, #lapBtn{
      cursor: pointer;
      user-select: none;
      width: $stopwatch-size * .1942857;
      height: $stopwatch-size * .1942857;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border: $border solid #000;
    }
    label .play, label .pause, #resetBtn, #lapBtn{
      &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
      }
    } 
  }
}



::-webkit-scrollbar {
  width: 1vh;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: .5vh;
  background-clip: border-box;
}
::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}





@media screen and (orientation: portrait) {
  .stopwatch{
    width: $stopwatch-size-mobile;
    height: $stopwatch-size-mobile;
    border-width: $border-mobile;

    .stopwatch-cont{
      border-width: $border-mobile;
    }
  
    .laps{
      letter-spacing: $stopwatch-size-mobile * .00242856;
      font-size: $stopwatch-size-mobile * .04857141;
    }
  
    .time-cont{
      border-radius: $stopwatch-size-mobile * .0242857;
      border-width: $border-mobile;
      outline-width: $border-mobile;
      .time{
        font-size: $stopwatch-size-mobile * .12142856;
        line-height: $stopwatch-size-mobile * .13114284;
      }
    }
  
    nav{
      // play button
      label{
        margin: 0 -1 * $border-mobile;
      }
      // all buttons
      label, #resetBtn, #lapBtn{
        width: $stopwatch-size-mobile * .1942857;
        height: $stopwatch-size-mobile * .1942857;
        border-width: $border-mobile;
      }
    }
  }

  ::-webkit-scrollbar {
    width: 1vw;
  }
}

























