@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}
*::-moz-selection {
  background: #000;
  color: #fff;
}
*::selection {
  background: #000;
  color: #fff;
}

html {
  height: -webkit-fill-available;
  height: -moz-available;
  height: fill-available;
}

body {
  opacity: 0.7;
  font-family: "Roboto Mono";
  height: -webkit-fill-available;
  height: -moz-available;
  height: fill-available;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stopwatch {
  font-weight: 600;
  width: 50vh;
  height: 50vh;
  border: 0.85vh solid #000;
  border-radius: 50%;
  padding: 2.5%;
}
.stopwatch .stopwatch-cont {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  border: 0.85vh solid #000;
  border-radius: 50%;
}
.stopwatch .laps {
  height: 26%;
  padding: 0 4.76%;
  margin: 2.55% 0;
  line-height: 160%;
  letter-spacing: 0.121428vh;
  font-size: 2.4285705vh;
  overflow-y: scroll;
}
.stopwatch .time-cont {
  width: 75%;
  background: #000;
  padding: 2.38%;
  margin: 0 0 4.93%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border: 0.85vh solid #fff;
  border-radius: 1.214285vh;
  outline: 0.85vh solid #000;
}
.stopwatch .time-cont .time {
  color: #fff;
  font-size: 6.071428vh;
  line-height: 6.557142vh;
  text-align: right;
}
.stopwatch nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.stopwatch nav input {
  display: none;
}
.stopwatch nav input:checked + label .play {
  display: none;
}
.stopwatch nav input:checked + label .pause {
  display: block;
}
.stopwatch nav label {
  margin: 0 -0.85vh;
}
.stopwatch nav label .play::after, .stopwatch nav label .pause::after {
  background-size: 35%;
}
.stopwatch nav label .play::after {
  background-image: url("./images/play.svg");
}
.stopwatch nav label .pause {
  display: none;
}
.stopwatch nav label .pause::after {
  background-image: url("./images/pause.svg");
}
.stopwatch nav #resetBtn::after, .stopwatch nav #lapBtn::after {
  background-size: 47%;
}
.stopwatch nav #resetBtn {
  border-top-left-radius: 32%;
  border-bottom-left-radius: 32%;
}
.stopwatch nav #lapBtn {
  border-top-right-radius: 32%;
  border-bottom-right-radius: 32%;
}
.stopwatch nav #resetBtn::after {
  background-image: url("./images/reset.svg");
}
.stopwatch nav #lapBtn::after {
  background-image: url("./images/lap.svg");
}
.stopwatch nav label, .stopwatch nav #resetBtn, .stopwatch nav #lapBtn {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 9.714285vh;
  height: 9.714285vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.85vh solid #000;
}
.stopwatch nav label .play::after, .stopwatch nav label .pause::after, .stopwatch nav #resetBtn::after, .stopwatch nav #lapBtn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  width: 1vh;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 0.5vh;
  background-clip: border-box;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

@media screen and (orientation: portrait) {
  .stopwatch {
    width: 70vw;
    height: 70vw;
    border-width: 1.19vw;
  }
  .stopwatch .stopwatch-cont {
    border-width: 1.19vw;
  }
  .stopwatch .laps {
    letter-spacing: 0.1699992vw;
    font-size: 3.3999987vw;
  }
  .stopwatch .time-cont {
    border-radius: 1.699999vw;
    border-width: 1.19vw;
    outline-width: 1.19vw;
  }
  .stopwatch .time-cont .time {
    font-size: 8.4999992vw;
    line-height: 9.1799988vw;
  }
  .stopwatch nav label {
    margin: 0 -1.19vw;
  }
  .stopwatch nav label, .stopwatch nav #resetBtn, .stopwatch nav #lapBtn {
    width: 13.599999vw;
    height: 13.599999vw;
    border-width: 1.19vw;
  }
  ::-webkit-scrollbar {
    width: 1vw;
  }
}/*# sourceMappingURL=index.css.map */